<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../assets/css/root.css" rel="stylesheet"></link>
    <title>PJSC - Categories</title>
</head>
<body style="background-color:#FBFCFD">
    <div class="row" id="container-form"></div>

    <!-- Utils -->
    <script src="../../utils/pjsc-randomize.js"></script>
    <script src="../../utils/pjsc-buttons.js"></script>

    <!-- Min -->
    <script src="./pjsc-categories.js"></script>
    <script src="../forms/selects/pjsc-selects.js"></script>
    <script src="../../../dist/pjsc-tables.min.js"></script>
    
    <!-- Main -->
    <script src="./main.js"></script>
</body>
</html>