<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../assets/css/root.css" rel="stylesheet"></link>

    <title>Tables</title>
</head>
<body>
    <input type="text" class="form-control" placeholder="Search..." id="img-table-filter" data-pjsc-apply-filter-type='sample-text' data-pjsc-apply-filter-to-table-container-id="img-table">
    <div class="table-responsive" id="img-table" data-pjsc-table-type="img-table"></div>

    <script src="./pjsc-table.js"></script>
    <script src="./main.js"></script>
</body>
</html>